@import "_variables";
@import "_mixins";

.text-center {
  text-align: center;
}

h3 small {
  color:#999;
  font-size: 70%;
  margin-left: 5px;
}

.events {
  section {
    h1 {
      font-size: 50px;
      font-weight: 400;
      font-size: 3rem;
      position: relative;
      text-align: center;
      margin: 0 0 50px 0;
      margin: 0 0 3rem 0;
      letter-spacing: -.02em;
      font-family: 'Radley', Georgia, serif;

      &:after {
        left: 0;
        right: 0;
        top: 100%;
        width: 25%;
        height: 1px;
        content: '';
        margin: 0 auto;
        margin-top: 15px;
        position: absolute;
        margin-top: .75rem;
        background-color: rgba(0,0,0,.3);
      }
    }

    h2 {
      font-size: 2rem;
    }
  }
}
